/*Animação inicial*/

@keyframes mov {
    from{
      opacity: 0;
      transform:translateX(-50%);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes fundo {
    0%{
        background: rgb(255, 255, 255);
    }
    10%{
        background: rgba(247, 233, 105, 0.493);
    }
    20%{
        background: rgba(255, 197, 90, 0.493);
    }
    30%{
        background: rgba(243, 111, 50, 0.493);                      
    }
    40%{                                     
        background: rgba(247, 60, 3, 0.493);
    }
    50%{
        background: rgba(255, 66, 255, 0.493);
    }
    60%{
        background: rgba(175, 17, 248, 0.493);
    }
    70%{
        background: rgba(101, 48, 248, 0.493);
    }
    80%{
        background: rgba(0, 60, 255, 0.493);
    }
    90%{
        background: rgba(9, 255, 234, 0.493);
    }
    100%{
        background: rgb(252, 255, 235);
    }
  }
  
/*Para forcar a responsividade em celulares*/

  @media only screen and (max-width: 500px) {
    body{
      margin: 0px;
      padding: 0px;
      width: 95%;
      height: auto;
    }
    #cabe{
     padding-top: 10px;
    }
    #marq{
      font-size: 20px;  
    }

    /*Input com nome do usuario*/
    input#nome{
      width: 200px;
      height: 30px;
      font-size: 15px;
      transition: 0.1s;
    }
    input#nome:hover{
      width: 210px;
      border-radius: 10px;
    }
    section{
      width: 95%;
      height: auto;
      margin: 2%;
      margin-top: 25px;
      padding: 10px;
      text-align: center;
      font-size: 20px;
    }
    /*page2*/
    section#div2{
      width: 95%;
      height: auto;
      margin: 2%;
      margin-top: 25px;
      padding: 10px;
      text-align: left;
    }
    /*Estilizando os botões*/
    #brab input[type=submit]{
      margin-inline-start: 30%;
      margin-inline-end: 30%;
    }
    input#cont{
      width:125px;
      height:35px;
      padding: 5px;
      font-size: 18px;
      border-radius: 5px;
      transition:0.1s;
    }
    input#cont:hover{
      border-radius: 5px;
    }
    /*Page3*/
    .fotos{
      margin: 0px;
      padding: 0px;
    }
    .text h3 {
      text-align: center;
    }
    .text{
      text-align: left;
    }
  }